   * { /* apparently this is helpful?*/
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
   body { 
       background-color:#ffffff;
      color: #351b12;
       font-family:'Inter', sans-serif;
       letter-spacing: 2px;
        font-weight: 300;
}
 img {
   max-width: 25%;
    height: auto;
 }

.navbar {
    background-color: rgb(205, 215, 226);
    padding: 20px 40px;
}
.nav_container{
   display: flex;
   justify-content: space-between;  /* pushes left + right apart */
   align-items: center;
}
nav a {
   text-decoration: none;
   color: #351b12;
   margin-left: 25px;
}
.hi{ /*for the text that says hi im olga and and also the pic! */
   padding-top: 150px;
   display: flex;
   flex-direction: column;   /* stack vertically */
   align-items: center;      /* center horizontally */
   text-align: center;
   font-size: 72px;
   font-weight: normal;
   margin: 40px;
}
.image{
   margin: 40px;
}
.tagline{
    text-align: center;
   font-size: 22px;
      padding-bottom: 140px;

}
/*footer !!! all the way at the bottom*/
footer{
   background-color:rgb(205, 215, 226);
      color: #351b12;
       font-family: "Courier New", monospace;
       letter-spacing: 2px;
       position: relative;      /* yuh */
    min-height: 200px;       /*  footer taller */
    padding: 40px;
}

.top {
    position: absolute;
    top: 20px;
    right: 40px;

    transform: rotate(180deg);
    display: inline-block;
}

.bottom {
    position: absolute;
    bottom: 20px;
    left: 40px;
}